body{
    background-color: rgba(231, 231, 231, 1);;
}

footer{
    background: #fff;
    text-align: center;
    color: rgba(4, 201, 244, 1);
    grid-area: footer;
    padding: 1px;
}

header{
    height: 50px;
    padding: 1px;
    background: rgba(4, 201, 244, 1);;
    grid-area: hearder;
    color: #fff;
    text-align: center;
}

/* Cadastro */

#img-1{
    width: 150px;
    height: 140px;
}

#fundo-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa-1{
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 100px;
    padding: 15px;
}

.a-1{
    background-color: rgba(4, 201, 244, 1);
    color: #fff;
    width: 160px;
    height: 45px;
    top: 450px;
    left: 330px;
    cursor: pointer;
}

.input-Ca{
    display: flex;
    width: 330px;
    height: 50px;
    margin: 5px;
}

/* Cadastro */

/* Home */

#layout-home{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 600px;
    grid-template-areas: 
    "container hearder hearder"
    "container logo-M logo-M"
    "container footer footer";

}

.container{
    display: flex;
    flex-direction: column;
    background: rgba(217, 217, 217, 1);
    grid-area: container;
    width: 160px;
    float: left;
}

.logo-M{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(231, 231, 231, 1);
}

#img-2{
    border-radius: 5%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Home */

/* cidade */

.layout{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 600px;
    grid-template-areas: 
    "container hearder hearder"
    "container formulario formulario"
    "container footer footer";
}

.formulario{
    display: flex;
    grid-area: formulario;

}

.botoes{
    background-color: rgba(4, 201, 244, 1);
    color: #fff;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: 0;
}

.cancelar{
    background-color:#fff;
    color: rgba(4, 201, 244, 1);
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: 0;
}

.excluir{
    background-color: rgba(244, 4, 4, 1);;
    color: #fff;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: 0;
}

/* cidade */

/* Usuario */

.body-line{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 500px 50px;
    grid-template-areas:
    "container ar-ticle ar-ticle"
    "container caixa caixa"
    "container footer footer";
    margin: 0px;
}

#ar-tigle{
    grid-area: ar-tigle;
}

#caixa{
    grid-area: caixa;
    text-align: center;
}


.imp-L{
    background-color: rgba(4, 201, 244, 1);
    color: #fff;
    width: 160px;
    height: 40px;
    text-align: center;
    border: 0;
    cursor: pointer ;

}



